.desti__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 35px;
}

.desti__card .card__banner {
  position: relative;
  border-radius: var(--radius-30);
}

.desti__card .card__banner .img-cover:is(:hover, :focus-within) {
  transform: scale(1.05);
}

.desti__card .card__price {
  color: var(--bg-majorelle-blue);
  background: var(--bg-white);
  padding: 8px 20px;
  max-width: fit-content;
  border-radius: var(--radius-pill);
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  font-weight: var(--weight-bold);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--bg-gainsboro);
  overflow: hidden;
}

.card__content .card__title {
    margin-block: 30px 10px;
}

.card__rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-start: 15px;
}

.card__rating .rating__icon {
    color: var(--text-sunglow);
}

