nav {
  padding-block: 25px;
  width: 100vw;
  display: flex;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  position: relative;
}

nav.active {
  position: fixed;
  background: var(--bg-white);
  box-shadow: var(--shadow-1);
  animation: slideIn 500ms ease forward;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  0% {
    transform: translateY(0);
  }
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.mobile__menu {
  display: none;
}

/* Hamburger */

.hamburger {
  position: relative;
  cursor: pointer;
  height: 24px;
  width: 24px;
  z-index: 100;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.hamburger.open {
  transform: rotate(90deg);
}

.hamburger.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.hamburger.open .hamburger-middle {
  display: none;
}

.hamburger.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.hamburger {
  display: none;
}

.nav__logo img {
  width: 180px;
}

.nav__items {
  display: flex;
  gap: 50px;
}

.nav__items li a,
.mobile__menu .mobile-nav__items li a {
  position: relative;
  color: var(--text-gunmetal);
  font-size: var(--fontSize-7);
  font-weight: var(--weight-medium);
  padding-block: 8px;
  transition: var(--transition-1);
}

.nav__items li a::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: var(--bg-majorelle-blue);
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  opacity: 0;
  transition: var(--transition-1);
}

.nav__items li a:is(:hover, :focus-visible, .active)::before {
  opacity: 1;
}

.nav__signin-signup {
  display: flex;
  align-items: center;
  gap: 4rem;
}

/* Responsive for screens with min-width 992px and max-width 1200px */
@media screen and (min-width: 1440px) {
  .nav__logo img {
    width: 180px;
  }

  .nav__items {
    gap: 70px;
  }
}

/* Responsive for screens with min-width 992px and max-width 1200px */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .nav__logo img {
    width: 160px;
  }
  
  .nav__items {
    gap: 30px;
  }
  
  .nav__signin-signup {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}

/* Responsive for screens with max-width 992px */
@media screen and (max-width: 992px) {
  .nav__items,
  .nav__signin-signup {
    display: none;
  }
  
  .nav__logo img {
    width: 160px;
  }
  
  .hamburger {
    display: block;
    position: absolute;
    top: 20;
    right: 20px;
  }
  
  .mobile__menu {
    display: flex;
    flex-direction: column;
    background: var(--bg-white);
    max-width: 350px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -350px;
    padding: 25px;
    z-index: 1;
    transition: transform 400ms var(--cubic-out);
    visibility: hidden;
  }
  
  .mobile__menu.open {
    transform: translateX(-350px);
    transition-duration: 500ms;
    visibility: visible;
  }
  
  .mobile__menu .mobile-nav__logo img {
    width: 160px;
  }
  
  .mobile__menu .mobile-nav__items {
    padding-block-start: 50px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .mobile__menu .mobile-nav__items li:hover {
      transform: translate(10px)
  }
  
  .mobile__menu .mobile-nav__items li a::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: var(--bg-majorelle-blue);
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: var(--transition-1);
  }
  
  .mobile__menu .mobile-nav__items li a:is(:hover, :focus-visible)::before {
    opacity: 1;
  }
  
  .mobile__menu .mobile-nav__signin-signup {
    display: flex;
    gap: 3rem;
    margin-block-start: 50px;
  }
}

/* Responsive for less than 575px screen */
@media screen and (max-width: 575px) {
  .mobile__menu {
    max-width: 100%;
    right: -100%;
  }
  
  .mobile__menu.open {
    transform: translateX(-100%);
  }
}

